title = "home"
url = "/:card-id?"
layout = "default"
is_hidden = 0

[session]
security = "user"
redirect = "login"
==
<?php
use Melvin\Mtgmoney\Models\Cards;
use Melvin\Mtgmoney\Models\PriceLogger;
use Redirect;
function onStart() {
    $card_id =  $this->param('card-id');
    $this['card_id'] = $card_id;
    $card = null;
    $prices = null;
    $chartData = null;
    $user_id = null;
    $user_id = $this->getUserId();
    $latest_update = Cards::GetLatestUpdate($user_id);
    $card_img = null;
    $card_buy_url = null;
    $listCards = null;
    if (strlen($card_id)>0) {
        $card_obj = new Cards();
        $card = Cards::GetCardById($card_id);
        $prices = PriceLogger::GetPricesByCardId($card_id);
        $chartData = PriceLogger::TransformForChart($prices);
        if(!isset($card->image) && isset($card)) {
            $card_img = $card->getMagicCardImageURL();

        }
        if(isset($card)) {
            $card_buy_url = $card->getCardBuyUrl();
        }
    }
    else {
        $listCards = Cards::GetAllPricesAndCards(NULL, $user_id);
    }
    $this['price_sort'] = 'asc';
    $this['notification_sort'] = 'desc';
    $this['buy_url'] = $card_buy_url;
    $this['list'] = $listCards;
    $this['prices'] = $prices;
    $this['latest_update'] = $latest_update;
    $this['card'] = $card;
    $this['time'] = date("h:i:sa");
    $this['image'] = $card_img;
    $this['chart_data'] = $chartData;
}
function onDeleteCard() {
    $id = post('id');
    $user_id = $this->getUserId();
    $card = Cards::where('id', $id)->first();
    $test = $card->deleteCard();
    $listCards = Cards::GetAllPricesAndCards(NULL, $user_id);
    $this['list'] = $listCards;
    Flash::success('Karte gelöscht');
    return [
        '#list_view' => $this->renderPartial('_list_view')
    ];
}
function onSortByNameASC() {
    $user_id = $this->getUserId();
    $listCards = Cards::GetAllPricesAndCards('asc', $user_id);
    $this['list'] = $listCards;
    return [
        '#list_view' => $this->renderPartial('_list_view')
    ];
}
function onSortByNameDESC() {
    $user_id = $this->getUserId();
    $listCards = Cards::GetAllPricesAndCards('desc', $user_id);
    $this['list'] = $listCards;
    return [
    '#list_view' => $this->renderPartial('_list_view')
    ];
}
function onSortByIdDESC() {
    $user_id = $this->getUserId();
    $listCards = Cards::GetAllPricesAndCardsByID('asc', $user_id);
    $this['list'] = $listCards;
    return [
    '#list_view' => $this->renderPartial('_list_view')
    ];
}
function onSortById() {
    $user_id = $this->getUserId();
    $listCards = Cards::GetAllPricesAndCardsByID('desc', $user_id);
    $this['list'] = $listCards;
    return [
    '#list_view' => $this->renderPartial('_list_view')
    ];
}

function getUserId() {
    $user_id = null;
    $user = null;
    $user = Auth::getUser();
    if(isset($user)) {
        return $user['id'];
    }
    else {
        return $user_id;
    }
}

function onGetPricesForList() {
    $user_id = $this->getUserId();
    $result = PriceLogger::PriceUpdate($user_id);
    $listCards = Cards::GetAllPricesAndCards(NULL, $user_id);
    $this['list'] = $listCards;
    Flash::success('Preis Update fertig');
    return [
        '#list_view' => $this->renderPartial('_list_view')
    ];
}

function onSimpleData() {
    $id = post('id');
    $simpleize = PriceLogger::SimpleizeDataByCardID($id);
    return Redirect::refresh();
}

function onChangeMailNotification() {
    $id = post('id');
    $user_id = $this->getUserId();
    $card = Cards::where('id', $id)->first();
    $oldValue = $card->notification;
    $an_aus = "aus";
    if($oldValue || !isset($oldValue)) {
        $card->notification = false;
        $an_aus = "aus";
    }
    else {
        $card->notification = true;
        $an_aus = "an";
    }
    $card->save();
    $listCards = Cards::GetAllPricesAndCards(NULL, $user_id);
    $this['list'] = $listCards;
    Flash::success('Benachrichtigung '.$an_aus);
    return [
        '#list_view' => $this->renderPartial('_list_view')
    ];
}

function onSortByPriceASC() {
    $user_id = $this->getUserId();
    $listCards = Cards::SortByPrice('ASC', $user_id);
    $this['list'] = $listCards;
    $this['price_sort'] = 'desc';
    return [
        '#list_view' => $this->renderPartial('_list_view'),
        '#sort_partial' => $this->renderPartial('_sort_list')
    ];
}
function onSortByPriceDESC() {
    $user_id = $this->getUserId();
    $listCards = Cards::SortByPrice('DESC', $user_id);
    $this['list'] = $listCards;
    $this['price_sort'] = 'asc';
    return [
        '#list_view' => $this->renderPartial('_list_view'),
        '#sort_partial' => $this->renderPartial('_sort_list')
    ];
}
function onSortByNotificationASC() {
    $user_id = $this->getUserId();
    $listCards = Cards::SortByNotification('ASC', $user_id);
    $this['list'] = $listCards;
    $this['notification_sort'] = 'desc';
    return [
        '#list_view' => $this->renderPartial('_list_view'),
        '#sort_partial' => $this->renderPartial('_sort_list')
    ];
}

function onSortByNotificationDESC() {
    $user_id = $this->getUserId();
    $listCards = Cards::SortByNotification('DESC', $user_id);
    $this['list'] = $listCards;
    $this['notification_sort'] = 'asc';
    return [
        '#list_view' => $this->renderPartial('_list_view'),
        '#sort_partial' => $this->renderPartial('_sort_list')
    ];
}
?>
==
{% component 'session' %}
<div class="container">
    <div class="page-header">
        <h2>Karten Preise - <small>{% if card %}{{ card['name'] }}{% else %}</small>Listenansicht{% endif %}</h2>
        <p>Uhrzeit: {{ time|date('H:i:s') }}</p>
        {% if list %}
        <p>Letztes Update: {{ latest_update|date('H:i:s - d.m.Y') }}</p>
        {% endif %}
    </div>

    <div class="page-content">
        {% if list %}
        <button class="btn btn-success" data-request-confirm="Preise wirklich aktuallisieren?" data-request-flash data-request="onGetPricesForList"><i class="icon-dollar"></i> Preise aktuallisieren</button>
        <div id="sort_partial">{% partial '_sort_list' %}</div>
        <hr>
        <div id="list_view">{% partial '_list_view' %}</div>
        {% endif %}
        {% if card %}
        <div class="mtg--row">
            <canvas class="" id="myChart" style="width:100%;max-width:600px"></canvas>
            <div id="detail_image_partial">{% partial '_detail_image' %}</div>
        </div>

        {% endif %}
    </div>

</div>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script src="{{ 'assets/vendor/chart.js'|theme }}"></script>
<script>
    var data = {{ chart_data|json_encode(constant('JSON_HEX_TAG'))|raw }};
    if(data) {
        var x = [];
        var y = [];

        data.forEach(function(item) {
            x.push(item[0]);
            y.push(item[1]);
        });
        new Chart("myChart", {
            type: "line",
            data: {
                labels: x,
                datasets: [{
                    fill: false,
                    lineTension: 0.3,
                    backgroundColor: "rgba(75,192,192,0.5)",
                    borderColor: "rgba(75,192,192,0.9)",
                    data: y
                }]
            },
            options: {
                plugins: {
                    legend: {display: false}
                }

            }
        });
    }

</script>