<div class="d-inline-block mtg--list-wrapper">
    {% for item in list %}
    <div class="mtg--list-item">
        <a class="mtg--list-link" href="/{{ item['card']['id'] }}">{{ item['card']['name'] }}<img class="mtg--list-img" src="{{ item['card']['image'] }}"></a>
        <p class="mtg--list-span mtg--list-p text-info"> {{ item['card']['price']|number_format(2, ',', '.') ~ ' €' }}</p>
        <p class="mtg--list-lowest mtg--list-p text-success">

            {% if item['lowest'] %}
            <i class="icon-chevron-down"></i>
            {{ item['lowest']|number_format(2, ',', '.') ~ ' €' }}
            {% endif %}
        </p>
        <p class="mtg--list-highest mtg--list-p text-danger">
            <i class="icon-chevron-up"></i>
            {{ item['highest']|number_format(2, ',', '.') ~ ' €' }}
        </p>
        <label class="switch">
            <input data-request="onChangeMailNotification" data-request-flash data-request-data="id: {{ item['card']['id'] }}" type="checkbox"{% if item['card']['notification'] %}checked{% endif %}>
            <span class="slider round"></span>
        </label>
        <a class="btn btn-success mtg--btn-buylink" target="_blank" href="{{ item['buyurl'] }}">KAUFEN</a>
        <button class="btn btn-danger mtg--btn-delete" data-request-flash data-request-confirm="Alles zu dieser Karte löschen?" data-request="onDeleteCard" data-request-data="id: {{ item['card']['id'] }}">LÖSCHEN</button>
    </div>
    <hr>
    {% endfor %}
</div>