<form class="mtg--search-form column w-300 ui-widget" data-request="onSearchCard" data-request-update="price: '#price_response'">
    <label class="" >Kartenname</label>
    <div class="mtg--checkbox-wrapper">
        <label class="" >Display</label>
        <input class="mtg--checkbox-input checkbox-inline check" type="checkbox" value="1" name="display">
        <label class="" >Booster</label>
        <input class="mtg--checkbox-input checkbox-inline" type="checkbox" value="1" name="booster">
    </div>
    <input id="suchfeld" class="m-b-sm" type="text" name="card_name">
    <button type="submit" class="btn btn-lg btn-default">Preis abfragen</button>
</form>