<div class="mtg--sort-wrapper">
    {% if price_sort == 'asc' %}
    <button class="mtg--btn-invisible mtg--icon-money" data-request="onSortByPriceASC"><i class="icon-dollar"></i></button>
    {% else %}
    <button class="mtg--btn-invisible mtg--icon-money" data-request="onSortByPriceDESC"><i class="icon-dollar"></i></button>
    {% endif %}
    {% if notification_sort == 'asc' %}
    <button class="mtg--btn-invisible mtg--icon-notification" data-request="onSortByNotificationASC"><i class="icon-bell"></i></button>
    {% else %}
    <button class="mtg--btn-invisible mtg--icon-notification" data-request="onSortByNotificationDESC"><i class="icon-bell"></i></button>
    {% endif %}

    <button class="mtg--btn-invisible mtg--btn-SortByNameASC" data-request="onSortByNameASC"><i class="icon-sort-by-alphabet"></i></button>
    <button class="mtg--btn-invisible mtg--btn-sortByNameDESC" data-request="onSortByNameDESC"><i class="icon-sort-by-alphabet-alt"></i></button>
    <button class="mtg--btn-invisible mtg--btn-onSortById" data-request="onSortById"><i class="icon-sort-by-order-alt"></i></button>
    <button class="mtg--btn-invisible mtg--btn-onSortByIdDESC" data-request="onSortByIdDESC"><i class="icon-sort-by-order"></i></button>
</div>