{% if card_name %}
    {% if card_image %}
        <img class="d-block mtg--img" src="{{ card_image }}">
    {% endif %}
    {% if card_exists %}
        <a href="/{{ card_id }}"><h4>{{ card_name }}: {{ price_result }}</h4></a>
        <p>Karte bereits hinzugefügt</p>
    {% else %}
        <h4>{{ card_name }}: {{ price_result }}</h4>
        <form data-request="onNewCard" data-request-flash>
            <input type="hidden" name="card_name" value="{{ card_name }}">
            <input type="hidden" name="price_new_card" value="{{ price_result }}">
            <input type="hidden" name="display" value="{{ display }}">
            <input type="hidden" name="booster" value="{{ booster }}">
            {% if booster or display %}
            <button type="submit" class="btn btn-lg btn-success">Produkt hinzufügen</button>
            {% else %}
            <button type="submit" class="btn btn-lg btn-success">Karte hinzufügen</button>
            {% endif %}
        </form>
    {% endif %}
    {% if sets %}
    <div class="mtg--sets-wrapper">
        <p class="mtg--sets-title">Sets:</p>
        {% for set in sets %}
            <p class="mtg--sets-item">{{ set['set'] }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endif %}
